flagmsg: true
replayhook: true
bstats: true

flagsound:
  enabled: true
  sound: "BLOCK_NOTE_BLOCK_PLING"
  volume: 1
  pitch: 1

irc:
  enabled: false
  username: "USERNAME_HERE"
  server: "irc.libera.chat"
  channel: "#SoaromaSAC"
  nickserv:
    enabled : false
    password: "PASSWORD_HERE"